.site-header {
  margin-bottom: 2rem;
}

.site-title {
  @include relative-font-size(4);
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 0;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-footer {
  padding: $spacing-unit 0;
  @include relative-font-size(1.125);
}

.post-item {

  h3 {
    margin: 0;
  }
}

// Categories
.archive-group {
  margin-bottom: 2rem;
}

.category-head {
  font-weight: bold;

  &::before {
    content: '#';
  }
}

.category-head {
  margin-bottom: 0.25rem;
}
